.container h2 {
  text-transform: capitalize;
}

.container h2 > span {
  color: #44f;
}

.container h2::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 30px;
  background: #44f;
}
.hero {
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

.hero div:first-child {
  flex: 1;
  margin-bottom: 10%;
}

.hero div:last-child {
  flex: 1.5;
}

.hero h1 > span {
  color: #44f;
}

.screen_container {
  width: 80%;
  margin-left: auto;
  position: relative;
}

.graph_container {
  background: #44f;
  position: absolute;
  top: 5%;
  right: 4%;
  left: 4%;
  bottom: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.screen {
  max-width: 100%;
  margin: auto;
}

.btn {
  padding: 0.65em 1em;
  outline: none;
  background: #44f;
  border: none;
  color: #fff;
  border-radius: 3em;
}

.plans {
  padding: 3vh 0 7vh 0;
  border-top: 1px solid #ddd;
}

.plans > div {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

.plans_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.profit_calc {
  padding: 3vh 0 7vh 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.profit_calc > div {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

.profit_calc input,
.profit_calc select {
  outline: none;
  font-size: 2rem;
  padding: 20px;
  margin: 1em 0;
  width: 70%;
  box-sizing: border-box;
}

.calc_container {
  display: flex;
  align-items: center;
}

.calc_container div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.calc_container div:last-child {
  flex: 1.5;
  display: flex;
}

.circular_loader {
  max-height: 200px;
  width: fit-content;
}

.price {
  color: #44f;
  font-size: 3rem;
  font-weight: 500;
}
