.bitinvez__layout {
    --primary-color: #0093E9;
    --text-primary: #2e2e3f;
    color: var(--text-primary);
    position: relative;
}

.bitinvez__content {
    margin-top: 7rem;
}

* {
    box-sizing: border-box;
}

a {
    font-size: 1.7rem;
    color: #333;
}

p,
strong {
    font-size: 1.8rem;
    line-height: 1.5em;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
    text-transform: capitalize;
}

h2>span {
    color: var(--primary-color);
}

h2::before {
    position: absolute;
    content: '';
    height: 5px;
    width: 30px;
    background: var(--primary-color);
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

li {
    font-size: 1.8rem;
}

address {
    font-size: 1.6rem;
}

small {
    font-size: 1.4rem;
}

button {
    font-size: 1.8rem;
    font-weight: 500;
}

main {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

section {
    margin-bottom: 10em;
}

form {
    width: 100%;
}

.hero_section {
    height: calc(100vh - 7rem);
    min-height: 600px;
    display: flex;
    align-items: center;
}

.hero_section>div:first-child {
    flex: 1;
    margin-bottom: 10%;
}

.hero_section>div:last-child {
    flex: 1.5;
}

.hero_section h1>span {
    color: var(--primary-color);
}

.screen_container {
    width: 80%;
    margin-left: auto;
    position: relative;
}

.graph_container {
    background: var(--primary-color);
    position: absolute;
    top: 5%;
    right: 4%;
    left: 4%;
    bottom: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.screen {
    max-width: 100%;
    margin: auto;
}

.btn_fill {
    padding: 0.65em 1em;
    outline: none;
    background: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 3em;
}

.plans_section {
    padding: 3vh 0 7vh 0;
    border-top: 1px solid #ddd;
}

.plans_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5em;
    padding: 0 5em;
}

.profit_calc_section {
    padding: 3vh 0 7vh 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.profit_calc_section input,
.profit_calc_section select {
    outline: none;
    font-size: 2rem;
    padding: 20px;
    margin: 1em 0;
    width: 70%;
}

.calc_container {
    display: flex;
    align-items: center;
    padding: 0 5em;
}

.calc_container div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calc_container div:last-child {
    flex: 1.5;
    display: flex;
}

.circular_loader {
    max-height: 200px;
    width: fit-content;
}

.price {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
}

.brand {
    font-size: 2.5rem;

}

.brand span {
    color: var(--primary-color);
}

.services_section>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5em;
}

.services_section>div div {
    text-align: center;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1em;
}

.sections_edit section {
    max-width: 600px;
}

.sections_edit section:nth-child(even) {
    margin-left: auto;
    text-align: right;
}

footer {
    border-top: 1px solid #ddd;
    padding: 1em 0;
}

footer>div:nth-child(2) {
    display: flex;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: fit-content;
}

footer strong {
    width: fit-content;
}

footer li {
    margin-left: 1em;
    font-size: 4em;
}

footer p {
    font-style: 1.6rem;
    margin: 0.7em 0;
}

footer>div:nth-child(2)>div:first-child {
    flex: 1.5;
}

footer>div:nth-child(2)>div:last-child {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social_icon {
    color: var(--primary-color)
}

#profit_calc_error {
    color: #f44;
    font-size: 1.6rem;
}

footer {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

.flex_main {
    display: flex;
    height: calc(100vh - 7rem);
    min-height: 500px;
}

.flex_main>div:first-child {
    max-width: 50em;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    margin: 0 auto;
}

.flex_main>div:last-child {
    flex: 1;
    background: url('../../assets/bitcoin_bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-left: 10em;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-2 {
    margin-top: 2em;
}

.mt-0 {
    margin-top: 0;
}

.text-secondary {
    opacity: 0.75;
}

.or_seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.or_seperator span {
    background: var(--text-primary);
    height: 1px;
    width: 100px;
}

.or_seperator p {
    padding: 0 .5em;
}

.link_primary {
    color: var(--primary-color);
    text-decoration: none;
}


@media (max-width: 600px) {
    h2::before {
        height: 2px;
    }

    .hero_section {
        height: fit-content;
        flex-direction: column;
    }

    .hero_section>div:first-child {
        margin-bottom: 1em;
    }

    .screen_container {
        margin-top: 5em;
        width: 100%;
    }

    .plans_section {
        margin-bottom: 2em;
    }

    .plans_container {
        padding: 0;
    }

    .calc_container {
        padding: 0;
        flex-direction: column;
    }

    .calc_container>div:first-child {
        flex: 1;
        padding-bottom: 2em;
    }

    .calc_container>div:first-child>div {
        display: flex;
        flex-direction: row;
    }

    .calc_container>div:last-child {
        flex: 1;
        max-width: 100%;
    }

    .profit_calc_section input,
    .profit_calc_section select {
        outline: none;
        font-size: 1.8rem;
        padding: 10px;
        margin: 0;
    }

    #profit_calc_error {
        margin: .5em 0;
    }

    .price {
        width: 100%;
        word-break: break-all;
    }

    footer>div:nth-child(2) {
        flex-direction: column;
    }

    footer>div:nth-child(2)>div:last-child {
        align-self: flex-start;
        padding: 1em 0;
        align-items: flex-start;
    }

    footer li {
        margin: 0 1em 0 0;
    }

}

@media (max-width: 800px) {
    .flex_main>div:last-child {
        display: none;
    }
}